{
  --scroll_thumb: rgb(211, 77, 77);
  --scroll_track: rgb(149, 99, 99);
  --panel_mainmenu: rgb(57, 50, 50);
  --panel_navbar: rgb(57, 50, 50);
  --panel_list: rgb(77, 69, 69);
  --panel_taskinfo: rgb(57, 50, 50);
  --panel_help: rgb(57, 50, 50);
  --panel_noteinfo: rgb(57, 50, 50);
  --panel_clock: rgb(57, 50, 50);
  --panel_reminder: rgb(57, 50, 50);
  --panel_thisweek: rgb(57, 50, 50);
  --panel_todaylist: rgb(57, 50, 50);
  --panel_weeklyschedule: rgb(57, 50, 50);
  --prog_bar_gradient1: rgb(221, 120, 120);
  --prog_bar_gradient2: rgb(174, 73, 73);
  --prog_bar_gradient3: rgb(113, 46, 46);
  --main_color: rgb(57, 50, 50);
  --secondary_color: rgb(77, 69, 69);
  --first_accent: rgb(141, 98, 98);
  --secnd_accent: rgb(237, 141, 141);
  --secondary_green: rgb(53, 155, 112);
  --accent_green: rgb(33, 50, 73);
  --dirColor: rgb(77, 79, 174);
  --dirHoverColor: rgb(83, 85, 172);
  --dirColor: rgb(55, 56, 103);
  --dirHoverColor: rgb(36, 37, 72);
  --taskColor: rgb(57, 50, 50);
  --taskHoverColor: rgb(33, 30, 30);
  --taskTextColor: rgb(255, 255, 255);
  --noteColor: rgb(211, 164, 89);
  --pausedTimerColor: rgb(255, 255, 255);
  --urgency1: rgb(156, 246, 213);
  --urgency2: rgb(116, 215, 129);
  --urgency3: rgb(255, 242, 0);
  --urgency4: rgb(255, 106, 0);
  --urgency5: rgb(255, 0, 0);
  --urgency1List: rgb(141, 215, 188);
  --urgency2List: rgb(88, 171, 101);
  --urgency3List: rgb(190, 185, 64);
  --urgency4List: rgb(192, 107, 46);
  --urgency5List: rgb(192, 76, 76);
  --difficulty1: rgb(156, 246, 213);
  --difficulty2: rgb(116, 215, 129);
  --difficulty3: rgb(255, 242, 0);
  --difficulty4: rgb(255, 106, 0);
  --difficulty5: rgb(255, 0, 0);
  --TaskCompletedIconColor: rgb(4, 189, 255);
  --TaskUrgentIconColor: rgb(255, 4, 79);
  --TaskUrgentPassed: rgb(162, 161, 171);
  --consoleColor: rgb(82, 94, 84);
  --consoleTextColor: rgb(222, 222, 222);
  --timerOnBreakColor: rgb(75, 111, 122);
  --timerOnPrepColor: rgb(158, 121, 92);
}
